.NoResults {
  height: 400px;
  background-image: url(http://res.cloudinary.com/dylmugblp/image/upload/v1522874568/no-results_vzfume.png);
  background-size: cover;
  background-position: center center;
  border: 1px dashed #d9d9d9;
}
